body {
  font-family: Poppins, sans-serif;
}

/* .form-control:focus {
  border-color: #e74a3b;
  box-shadow: none;
  -webkit-box-shadow: none;
}
.has-error .form-control:focus {
  box-shadow: none;
  -webkit-box-shadow: none;
} */

div.search-form-opened {
  float: left;
  width: 100%;
  max-width: 400px;
  background-color: transparent;
  color: #fff;
  border-radius: 30px;
  margin: 12px 0 0 10px;
  border: 1px solid #bdbdbd;
}

div.search-form-opened .btn.submit {
  margin: 0;
  color: #1e2629;
}

.header-red div.search-form-opened .btn.submit {
  color: #fff;
}
.header-red .search-form-opened input[type="text"] {
  color: #fff;
}
.header-red div.search-form-opened {
  background-color: rgba(255, 255, 255, 0.3);
  border: 0;
}
