* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  height: 100%;
}
html {
  height: 100%;
}
a {
  font-size: 14px;
  line-height: 1.7;
  color: #666666;
  margin: 0px;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  &:focus {
    outline: none !important;
  }
  &:hover {
    text-decoration: none;
    color: #fff;
  }
}
h1 {
  margin: 0px;
}
h2 {
  margin: 0px;
}
h3 {
  margin: 0px;
}
h4 {
  margin: 0px;
}
h5 {
  margin: 0px;
}
h6 {
  margin: 0px;
}
p {
  font-size: 14px;
  line-height: 1.7;
  color: #666666;
  margin: 0px;
}
ul {
  margin: 0px;
  list-style-type: none;
}
li {
  margin: 0px;
  list-style-type: none;
}
input {
  outline: none;
  border: none;
  &:focus {
    border-color: transparent !important;
    &::-webkit-input-placeholder {
      color: transparent;
    }
    &:-moz-placeholder {
      color: transparent;
    }
    &::-moz-placeholder {
      color: transparent;
    }
    &:-ms-input-placeholder {
      color: transparent;
    }
  }
  &::-webkit-input-placeholder {
    color: #fff;
  }
  &:-moz-placeholder {
    color: #fff;
  }
  &::-moz-placeholder {
    color: #fff;
  }
  &:-ms-input-placeholder {
    color: #fff;
  }
}
textarea {
  outline: none;
  border: none;
  &:focus {
    border-color: transparent !important;
    &::-webkit-input-placeholder {
      color: transparent;
    }
    &:-moz-placeholder {
      color: transparent;
    }
    &::-moz-placeholder {
      color: transparent;
    }
    &:-ms-input-placeholder {
      color: transparent;
    }
  }
  &::-webkit-input-placeholder {
    color: #fff;
  }
  &:-moz-placeholder {
    color: #fff;
  }
  &::-moz-placeholder {
    color: #fff;
  }
  &:-ms-input-placeholder {
    color: #fff;
  }
}
label {
  margin: 0;
  display: block;
}
button {
  outline: none !important;
  border: none;
  background: transparent;
  &:hover {
    cursor: pointer;
  }
}
iframe {
  border: none !important;
}
.txt1 {
  font-size: 13px;
  color: #e5e5e5;
  line-height: 1.5;
}
.limiter {
  width: 100%;
  margin: 0 auto;
}
.container-login100 {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 1;
  &::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.9);
  }
}
.page-background {
  //   background-image: url("../../../assets/img/bg-01.jpg");
}
.wrap-login100 {
  width: 500px;
  border-radius: 10px;
  overflow: hidden;
  padding: 55px 55px 37px 55px;
  background: #9152f8;
  background: -webkit-linear-gradient(to bottom, #338390, #28b7ce);
  background: -o-linear-gradient(to bottom, #338390, #28b7ce);
  background: -moz-linear-gradient(to bottom, #338390, #28b7ce);
  background: linear-gradient(to bottom, #338390, #28b7ce);
}
.login100-form {
  width: 100%;
}
.login100-form-logo {
  font-size: 60px;
  color: #333333;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: #2f94a5;
  margin: 0 auto;
  img {
    width: 125px;
    border-radius: 50%;
    box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);
  }
}
.login100-form-title {
  font-size: 30px;
  color: #fff;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
  display: block;
}
.login-logo {
  img {
    width: 80px;
    border-radius: 50%;
    box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);
  }
}
.wrap-input100 {
  width: 100%;
  position: relative;
  border-bottom: 2px solid rgba(255, 255, 255, 0.24);
  margin-bottom: 30px;
}
.input100 {
  font-size: 16px;
  color: #fff;
  line-height: 1.2;
  display: block;
  width: 100%;
  height: 45px;
  background: transparent;
  padding: 0 5px 0 38px;
  &:focus {
    padding-left: 5px;
    + {
      .focus-input100 {
        &::after {
          top: -22px;
          font-size: 18px;
        }
        &::before {
          width: 100%;
        }
      }
    }
  }
}
.focus-input100 {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  &::before {
    content: "";
    display: block;
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    background: #fff;
  }
  &::after {
    font-family: Material-Design-Iconic-Font;
    font-size: 22px;
    color: #fff;
    content: attr(data-placeholder);
    display: block;
    width: 100%;
    position: absolute;
    top: 6px;
    left: 0px;
    padding-left: 5px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
  }
}
.has-val.input100 {
  + {
    .focus-input100 {
      &::after {
        top: -22px;
        font-size: 18px;
      }
      &::before {
        width: 100%;
      }
    }
  }
  padding-left: 5px;
}
.contact100-form-checkbox {
  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 35px;
}
.input-checkbox100 {
  display: none;
  &:checked {
    + {
      .label-checkbox100 {
        &::before {
          color: #555555;
        }
      }
    }
  }
}
.label-checkbox100 {
  font-size: 13px;
  color: #fff;
  line-height: 1.2;
  display: block;
  position: relative;
  padding-left: 26px;
  cursor: pointer;
  &::before {
    content: "\f26b";
    font-family: Material-Design-Iconic-Font;
    font-size: 13px;
    color: transparent;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    background: #fff;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}
.container-login100-form-btn {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.login100-form-btn {
  font-size: 16px;
  color: #555555;
  line-height: 1.2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  min-width: 120px;
  height: 50px;
  border-radius: 25px;
  background: #9152f8;
  background: -webkit-linear-gradient(to top, #ecedf1, #e6e1e8);
  background: -o-linear-gradient(to top, #ecedf1, #e6e1e8);
  background: -moz-linear-gradient(to top, #ecedf1, #e6e1e8);
  background: linear-gradient(to top, #ecedf1, #e6e1e8);
  position: relative;
  z-index: 1;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  &::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    border-radius: 25px;
    background-color: #fff;
    top: 0;
    left: 0;
    opacity: 1;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
  }
  &:hover {
    color: #443f3f;
    &:before {
      opacity: 0;
    }
  }
}
.validate-input {
  position: relative;
}
.alert-validate {
  &::before {
    content: attr(data-validate);
    position: absolute;
    max-width: 70%;
    background-color: #fff;
    border: 1px solid #c80000;
    border-radius: 2px;
    padding: 4px 25px 4px 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 0px;
    pointer-events: none;
    color: #c80000;
    font-size: 13px;
    line-height: 1.4;
    text-align: left;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 0.4s;
    -o-transition: opacity 0.4s;
    -moz-transition: opacity 0.4s;
    transition: opacity 0.4s;
  }
  &::after {
    content: "\f12a";
    font-family: FontAwesome;
    font-size: 16px;
    color: #c80000;
    display: block;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 5px;
  }
  &:hover {
    &:before {
      visibility: visible;
      opacity: 1;
    }
  }
}
.p-b-34 {
  padding-bottom: 34px;
}
.p-t-27 {
  padding-top: 27px;
}
.p-b-20 {
  padding-bottom: 20px;
}
.p-t-90 {
  padding-top: 90px;
}
.p-t-50 {
  padding-top: 50px;
}
.form-404 {
  text-align: center;
}
.content-404 {
  color: #fff;
  font-size: 14px;
  padding: 30px;
}
.form404-title {
  font-size: 50px;
  color: #fff;
}
.txt-locked {
  color: #fff;
  font-size: 18px;
  padding: 10px 0px;
}
.txt-small-heading {
  color: #fff;
  font-size: 18px;
  padding: 15px 0px;
}
@media (max-width: 576px) {
  .wrap-login100 {
    padding: 55px 15px 37px 15px;
  }
}
@media (max-width: 992px) {
  .alert-validate {
    &::before {
      visibility: visible;
      opacity: 1;
    }
  }
}
